*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px ;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 99;
    
    }

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 20px;
    color: #25343F;
    ; 
    z-index: 999;
}

.nav-item {
    
    color: #524646;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    color: #E63946;
    transform: scale(1.1);
}

.brand-name {
    color: #524646;
    text-decoration: none;
    font-size: 30px;
    font-family: "Irish Grover", system-ui;

}

.dropbtn {
    background-color: #ffffff;
    color: #524646;
    /* padding: 10px 20px; */
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #524646;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #25343F;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid #BFC9D1;
    color: #BFC9D1;
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 5px;
}
.input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
}

.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    position: relative;
    width: 300px;
    height: 500px;
    text-decoration: none;
    color:#000000;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price{
    color: red;
    font-size: 20px;
}

.discount{
    color: #808080;
}

.favorit{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
}

.product-img{
    width: 100% ;
    height: 500px;
}

.footer-section  {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: #ffff;

}

.social-icons {
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
}

.footer {
    /* background-color: #E63946; */
        
    padding: 20px;
    bottom: 0;
    width: 100%;
    background-color: #B34A44;
}
.last-footer {
    
    color: #ffff;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .card{
       flex-direction: column;
       align-items: center;
    }
    .footer-section,.footer{
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .hamburger {
      display: block; /* បង្ហាញ Hamburger button */
    }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: none; /* លាក់ Menu ជាមុន */
  }
  .navbar.active {
    display: flex; /* បង្ហាញ Menu នៅពេលចុច Hamburger button */ 
  }
   
}